header{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.intro-text{
    display: flex;
    justify-content: center;
    flex: 1;

}
.intro-header{
    display: flex;
    justify-content: center;
    
}
.intro-img{
    height: 40vh;
    width: 20vw;

}
.intro-style{
    height: 40vh;
    width: 100vw;
    display: flex;
    gap: 20px;
}
.intro-img-styles{
    display: flex;
    justify-content: space-around;
}
.main-imgs{
    height: 30vh;
    width: 25vw;
}
.main-imgs-styles{
    display: flex;
    flex: 1;
}
main{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}
.main-button-styles{
    display: flex;
    justify-content: center;
}
.main-heading-styles{
    display: flex;
    justify-content: center;
}
.footer-header{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(77, 198, 160) ;
}
.navbar{
    background-color: navy;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.navbar-styles{
    background-color: rgb(77, 198, 160);
    border: solid 8px rgb(77, 198, 160);
    width: 6vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
